.custom-gradient {
  transition: background-image 0.3s ease-in-out;
}


.half-circle {
  background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(94deg, rgba(255, 17, 52, 1) 0%, rgba(247, 210, 60, 1) 51%, rgba(46, 227, 158, 1) 100%) border-box;
  width: 300px;
  height: 150px;
  border-radius: 150px 150px 0 0;
  border: 25px solid transparent;
  border-bottom: 0;
  box-sizing: border-box;
}

.arrow{
  transition: all 1s;
  /* transform: rotate(-90deg); */

}

.test{
  overflow-x: scroll;
  white-space: nowrap;
}